body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* nav a {
  display: inline-block;
  margin: 1em;
} */

form div {
  margin: 1em;
  display: inline-block;
}

/* navbar */

/* .cheeseLogo {
  width: 5em;
  height: 5em;
  position: absolute;
}

.navbar {
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 6vh;
  width: auto;
}

.accountManagement {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginSignup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productsItems {
  visibility: hidden;
  z-index: 3;
} */

/* Navbar - Diego changes */

.navbar {
  display: flex;
  width: auto;
  height: 55px;
  background: dimgray;
  justify-content: space-between;
}

.navbar .navbarContainerLeft {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-evenly;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 190px;
}

.logoContainer h3 {
  color: white;
}

.logoContainer .logo {
  width: 40px;
  height: 40px;
}

.navbarProducts {
  display: flex;
  flex-direction: column;
  background-color: grey;
  width: 100px;
  max-height: 140px;
  align-self: baseline;
  z-index: 1;
  transition: background 0.5s;
}

.productButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}

.productButton p {
  color: white;
}

.navbarProducts:hover {
  background: rgb(165, 165, 165);
  transition: background 0.5s;
  cursor: pointer;
}

.navbarProducts:hover .productItems {
  display: flex;
}

.productItems {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  background: dimgrey;
  padding: 0px 5px;
  width: 120px;
  height: 80px;
  color: black;
}

.productOption {
  background: grey;
  color: white;
  width: auto;
  height: auto;
  padding: 5px 5px;
  transition: background 0.5s;
}

.productOption:hover {
  background: rgb(165, 165, 165);
  transition: background 0.5s;
}

.navbarContainerRight {
  display: flex;
  width: 280px;
  align-items: center;
  justify-content: space-evenly;
}

.navbarLogin {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  height: auto;
  max-width: 225px;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */
/* Cart icon */

.svg-icon {
  width: 1.2em;
  height: 1.2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: white;
}

.svg-icon circle {
  stroke: white;
  stroke-width: 1;
}

/* ---------- */

.navbarButton {
  display: flex;
  background: grey;
  color: white;
  width: 57px;
  height: 55px;
  padding: 0px 8px;
  justify-content: center;
  align-items: center;
  transition: background 0.5s;
}

.navbarButton:hover {
  background: rgb(165, 165, 165);
  transition: background 0.5s;
}

/* Product Cards */

.cartItem {
  width: 100%;
  margin-bottom: 1rem;
  background-color: rgb(173, 173, 173);
}

/* Product card */

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.productCard {
  background-color: #7a7a7a;
  width: 170px;
  height: 250px;
  margin: 25px 15px;
  box-shadow: 0px 0px 3px 1px black;
  transition: background 0.5s;
}

.productCard:hover {
  background: #9c9c9c;
  transition: background 0.5s;
}

.productCardItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productCardItems * {
  margin: 8px 0px;
  color: white;
}

.productCardItems > img {
  height: 145px;
  width: 149px;
  box-shadow: 0px 0px 0px 1px white;
}

/* Login / signup */

.authcomp {
  /* background-color: black; */
  position: relative;
  top: 5em;
  /* flex */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.accountForm {
  background-color: gray;
  /* size / position */
  width: 20rem;
  border-radius: 2.5%;
  /* flex */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* confirmation-page */
.confirmationContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50vw;
}

.confirmationItem {
  border: solid;
  border-color: black;
  border-width: 1px 1px;
  margin-top: 5px;
  display: flex;
  width: 100%;
}

.confirmationRightContainer {
  margin-left: 20px;
}

.confirmationItem img {
  border: solid;
  border-color: black;
  border-width: 0px 1px 0px 0px;
  width: 250px;
  height: 250px;
}
